body{
    background-color: black;
}
.task{
    justify-content: space-between;
}
h4{
    text-decoration: underline;
}
nav a{
    margin-left: -1rem;
}
footer{
    margin-top: 80px;
    height: 30px;
}
footer p{
    color: grey;
}
